# Игнорировать виртуальные среды
venv/
myenv/
env/

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы логов
*.log

# Игнорировать файлы конфигурации и секреты
.env

# Игнорировать файлы, создаваемые инструментами разработки
.vscode/
.idea/

# Игнорировать файлы, создаваемые системой
*.swp
*.swo

# Игнорировать файлы, создаваемые инструментами сборки
build/
dist/
*.egg-info/

# Игнорировать файлы, создаваемые Jupyter Notebook
.ipynb_checkpoints/
